{% extends 'layout.html' %}
{% load i18n %}
{% block content %}
    <div class="container">
    {% if inscriptions %}
        <h2>{% trans "Inscriptions" %}</h2>

        <p><label>{% trans "Total of Confirmed Places" %}:</label> {{ total_confirmed_places }}</p>

        <table class="table">
            <tr>
                <th>{% trans "Last Name" %}</th>
                <th>{% trans "First Name" %}</th>
                <th>{% trans "Address" %}</th>
                <th>{% trans "Phone" %}</th>
            </tr>
            {% for inscription in inscriptions %}
                <tr>
                    <td>{{ inscription.last_name }}</td>
                    <td>{{ inscription.first_name }}</td>
                    <td>{{ inscription.address }}</td>
                    <td>{{ inscription.phone }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    </div>
{% endblock%}
