{% extends 'layout.html' %}
{% load i18n %}
{% block content %}
<div class="container">
  <h2>{% trans "Enrollment Form" %}</h2>
  <br>
  {% if is_total_places_reached %}
    <div class="alert alert-warning" role="alert">
      <strong>{% trans "Warning!" %}</strong>
      {% trans 'All slots are reserved for the moment. If you decide to continue you will be added to the waiting list.' %}</div>
  {% endif %}

  <form id="inscription_form" action="{% url 'inscription' %}" method="post">
    {% csrf_token %}

    <div class="alert alert-dark" role="alert">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h4 class="panel-title">{% trans "please read carefully and accept before continue" %}</h4>
        </div>
        <div class="panel-body">
          <p>{% trans "The use of personal data" %}</p>
  
          <div class="checkbox">
            <label>
              <input type="checkbox" name="accepted_terms" id="accepted_terms" required> <b>{% trans "I agree with the use of my personal data" %}. <span class="required">*</span></b>
            </label>
          </div>
        </div>
      </div>
      
    </div>

    <p class="required">* {% trans "Required Fields" %}</p>

    <div class="panel panel-default">
      <div class="panel-body"> 
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="last_name">{% trans "Last Name" %} <span class="required">*</span></label>
              <input type="text" name="last_name" minlength="2" maxlength="30" required class="form-control" id="last_name" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="first_name">{% trans "First Name" %} <span class="required">*</span></label>
              <input type="text" name="first_name" minlength="2" maxlength="30" required class="form-control" id="first_name" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="address">{% trans "Full Address (Street, No., Apto., Postal Code, City)" %} <span class="required">*</span></label>
          <textarea name="address" rows="3" cols="60" class="form-control" id="address" required></textarea>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="email">{% trans "Email Address" %} <span class="required">*</span></label>
              <input type="email" name="email" maxlength="100" required class="form-control" id="email"/>
              <span id="email_message"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="phone">{% trans "Phone" %} <span class="required">*</span></label>
              <input type="text" name="phone" maxlength="20" required class="form-control" id="phone"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="number_places">{% trans "Number of Places" %} <span class="required">*</span></label><br>
              <label class="radio-inline">
                <input type="radio" name="number_places" id="number_places1" value="1" checked="checked"> 1
              </label>
              <label class="radio-inline">
                <input type="radio" name="number_places" id="number_places2" value="2"> 2
              </label>
              <br><br>
              <p>{% trans "1 slot = about 2,50m/4,50m" %}<br>
              {% trans "1 slot = €10 payment on site" %}</p>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label for="id_desired_place">{% trans "Desired Location of the Place(s)" %}</label>
              <textarea name="desired_place" rows="3" cols="60" class="form-control" id="desired_place"></textarea>
            </div>
          </div>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" name="accepted_newsletter" id="accepted_newsletter"> <b>{% trans "I would like to receive the newsletter after the event" %}.</b>
          </label>
        </div>
      </div>
      <div class="panel-footer">
        <br>
        <button type="submit" class="btn btn-primary btn-lg">
          <span class="glyphicon glyphicon-send" aria-hidden="true"></span> {% trans "Send" %}
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock%}

{% block script %}
  <script>
    $(function () {
      $("#inscription_form").validate();
    });

    var email_exists = true;

    $('#email').change(function() {
        $.ajax({
            url: "/inscription/email?em=" + $(this).val()
        }).done(function(data) {
            if(data != true) {
                email_exists = false;
                $('#email').removeClass("error");
                $('#email_message').removeClass("error-message").text("");
            } else {
                email_exists = true;
                $('#email').addClass("error");
                $('#email_message').addClass("error-message").text('{% trans "This email already exists." %}');
            }
        });
    });

    $("#inscription_form").submit(function( event ) {
      return !email_exists;
    });
  </script>
{% endblock %}