{% extends 'layout.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% autoescape off %}
              {{ latest_edition.invitation }}
            {% endautoescape %}
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/brocante-bruyeres.jpg' %}" class="img-fluid">
            {% if is_inscriptions_period %}
                <br><br>
                <p><a href="{% url 'inscription' %}" class="btn btn-primary">{% trans "Register Now" %}</a></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock%}
