.title {
  color: green;
}

.required {
  color: red;
  font-weight: bold;
}

.error-message {
    color: red;
    font-weight: bold;
}

.error {
    color: red;
}

.input-error {
    border: 1px solid red;
}